In [1]:
import pypyodbc
import pandas

# Define the Components of the Connection String.
server = '192.168.0.21'
port = '4900'
database = 'ICAM'
username = 'admin'
password = 'Clip_SERENA'

# Create a connection object.
connection_object: pypyodbc.Connection = pypyodbc.connect('DRIVER={HFSQL}; \
                        Server Name =' + server + '; \
                        Server Port=' + port + '; \
                        DATABASE=' + database + '; \
                        UID=' + username + '; \
                        PWD=' + password)
                        #Trusted_Connection=yes;

# Create a Cursor Object, using the connection.
cursor_object: pypyodbc.Cursor = connection_object.cursor()

# Define the Select Query.
sql_select = "SELECT CHARGRES.DAT, \
                CLIENT.NOM, \
                AFFAIRE.NAF, \
                AFFAIRE.ETATAF, \
                GAMME.RANG, \
                AFFAIRE.PIECE, \
                GAMME.PHASE, \
                ENGAM.EN_QTE, \
                GAMME.GA_PREP, \
                GAMME.GA_NBH, \
                GAMME.GA_NBHR, \
                AFFAIRE.TYPEAF, \
                CHARGE.DAT, \
                GAMME.COFRAIS \
                FROM GAMME \
                LEFT JOIN AFFAIRE ON GAMME.NAF = AFFAIRE.NAF \
                LEFT JOIN ENGAM ON GAMME.ENCLEUNIK = ENGAM.ENCLEUNIK \
                LEFT JOIN CLIENT ON AFFAIRE.COCLI = CLIENT.COCLI \
                LEFT JOIN CHARGRES ON GAMME.GACLEUNIK = CHARGRES.GACLEUNIK \
                LEFT JOIN CHARGE ON GAMME.GACLEUNIK = CHARGE.GACLEUNIK \
                WHERE GAMME.COFRAIS like 'C35-2'"
cursor_object.execute(sql_select)

# Define the column names.
#columns = [column[0] for column in cursor_object.statistics]
columns = [column[0] for column in cursor_object.description]

# Execute the Query.
# records = cursor_object.fetchmany(10)
records = cursor_object.fetchall()

# Dump to a Pandas DataFrame.
ordo_df = pandas.DataFrame.from_records(
    data=records,
    columns=columns
)

ordo_df

# print the head.
# print(ordo_df.head())

,dat,nom,naf,etataf,rang,piece,phase,en_qte,ga_prep,ga_nbh,ga_nbhr,cofrais
0,None,SCHLUMBERGER FRANCE,38685,S,001 ...,240652A-14-6-121,40,26.0,1.0,156.0,94.750168,C35-2
1,None,SCHLUMBERGER NORVEGE,39316,S,001 ...,142362-01-03-22,20,5.0,8.0,5.0,0.000000,C35-2
2,None,ALSYMEX (SEIV ALCEN),35858,S,001 ...,237 M3ACC SEI PD 1831 3006,50,8.0,1.5,12.0,7.283334,C35-2
3,None,SLB USA,36070,S,001 ...,030273-01-70,50,6.0,2.0,2.4,0.000000,C35-2
4,None,CRYOSTAR SAS,38418,S,001 ...,740239899-50,30,2.0,1.0,4.0,4.183334,C35-2
...,...,...,...,...,...,...,...,...,...,...,...,...
786,None,RAFAUT,37710,S,001 ...,952010S020001D0,30,65.0,0.5,19.5,10.733500,C35-2
787,None,RAFAUT,37710,S,001 ...,952010S020001D0,40,65.0,0.5,19.5,29.850167,C35-2
788,None,SCHLUMBERGER FRANCE,33262,S,001 ...,030273-02-70,50,40.0,2.0,22.0,23.583332,C35-2
789,None,SCHLUMBERGER FRANCE,34339,S,001 ...,030273-01-70,50,50.0,2.0,20.0,47.899999,C35-2
790,None,GETINGE LIFE SCIENCE FRANCE,39896,S,001 ...,6007011229,50,7.0,4.0,10.5,35.049999,C35-2

In [2]:
import json

# Supposons que vous ayez un DataFrame pandas appelÃ© df (ici = donnees_affaires)
# Convertir le DataFrame en une chaÃ®ne JSON
json_data = donnees_affaires.to_json(orient='records')

# Charger la chaÃ®ne JSON en tant qu'objet JSON
data = json.loads(json_data)

print(json_data)

NameError: name 'donnees_affaires' is not defined